BasedOnStyle: Google
# IndentWidth: 4
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: Empty
# ColumnLimit: 120
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
